body{
    background-color:rgb(3, 141, 195);
}

.FormContainer {
    display: flex;
    flex-direction: column; /* Stack form groups vertically */
    gap: 10px; /* Space between form groups */
    
}

.FormMember {
    /*display: flex; /* Enable Flexbox for each form group */
    align-items: center; /* Center items vertically */
}

label {
    margin-right: 10px; /* Space between label and input */
    width: 150px; /* Fixed width for labels to align inputs */
}

.Input {
    flex: 1; /* Allow input fields to grow and fill space */
    padding: 5px; /* Add some padding for better appearance */
    font-family: Roboto Condensed;
    font-size: large;
    border-radius: 10px;
    border-width: 5px;
    border-style:groove;
    border-color: black;
}

#Value
{
   font-family:Roboto Condensed;
   font-size: x-large;
}

#MySelect
{
    font-family: Roboto Condensed;
    font-size: x-large;
    border-radius: 10px;
    border-width: 5px;
    border-style:groove;
    border-color: black;
}


#MySubmit
{
    font-family: Roboto Condensed;
    font-size: x-large;
    border-radius: 10px;
    border-width: 5px;
    border-style:groove;
    border-color: black;
}

h1{
    font-family: Roboto Condensed;
    font-size: xx-large;
}

#MyReset
{
    font-family: Roboto Condensed;
    font-size: x-large;
    border-radius: 10px;
    border-width: 5px;
    border-style:groove;
    border-color: black;
}

#TotalIncome
{
    font-family:Roboto Condensed;
    font-size: x-large;
}

#TotalExpense
{
    font-family:Roboto Condensed;
    font-size: x-large;
}

#Remaining
{
    font-family:Roboto Condensed;
    font-size: x-large;
}

